In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [13]:
df = pd.read_csv(r"C:\Users\Asus\Downloads\covid_data.csv") 
df

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
...,...,...,...,...,...,...,...,...,...,...
220,Wallis and Futuna,Wallis and Futuna Islands,WLF,10894,Oceania,454,7,41674,643,1.541850
221,Western Sahara,Western Sahara,ESHÂ,623031,Africa,10,1,16,2,10.000000
222,Yemen,Yemen,YEM,30975258,Asia,11806,2143,381,69,18.151787
223,Zambia,Zambia,ZMB,19284482,Africa,317076,3967,16442,206,1.251120
224,Zimbabwe,Zimbabwe,ZWE,15241601,Africa,246525,5446,16174,357,2.209107

In [14]:
df.head(10)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
0,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
1,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
2,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
3,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
4,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
5,Anguilla,Anguilla,AIA,15237,Latin America and the Caribbean,2700,9,177200,591,0.333333
6,Antigua and Barbuda,Antigua and Barbuda,ATG,99348,Latin America and the Caribbean,7493,135,75422,1359,1.801682
7,Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
8,Armenia,Armenia,ARM,2972939,Asia,422574,8617,142140,2898,2.039169
9,Aruba,Aruba,ABW,107560,Latin America and the Caribbean,34051,212,316577,1971,0.622596

In [15]:
df.tail(10)

,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
215,Uzbekistan,Uzbekistan,UZB,34318156,Asia,237853,1637,6931,48,0.688240
216,Vanuatu,Vanuatu,VUT,319701,Oceania,4107,2,12846,6,0.048697
217,Vatican City,Holy See,VAT,805,Europe,29,0,36025,0,0.000000
218,Venezuela,Venezuela (Bolivarian Republic of),VEN,28294895,Latin America and the Caribbean,520843,5686,18408,201,1.091692
219,Vietnam,Viet Nam,VNM,98871712,Asia,9818328,42600,99304,431,0.433882
220,Wallis and Futuna,Wallis and Futuna Islands,WLF,10894,Oceania,454,7,41674,643,1.541850
221,Western Sahara,Western Sahara,ESHÂ,623031,Africa,10,1,16,2,10.000000
222,Yemen,Yemen,YEM,30975258,Asia,11806,2143,381,69,18.151787
223,Zambia,Zambia,ZMB,19284482,Africa,317076,3967,16442,206,1.251120
224,Zimbabwe,Zimbabwe,ZWE,15241601,Africa,246525,5446,16174,357,2.209107

In [16]:
print(df.shape)

(225, 10)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  225 non-null    object
 1   Other names              224 non-null    object
 2   ISO 3166-1 alpha-3 CODE  225 non-null    object
 3   Population               225 non-null    int64
 4   Continent                225 non-null    object
 5   Total Cases              225 non-null    int64
 6   Total Deaths             225 non-null    int64
 7   Tot Cases//1M pop        225 non-null    int64
 8   Tot Deaths/1M pop        225 non-null    int64
 9   Death percentage         225 non-null    float64
dtypes: float64(1), int64(5), object(4)
memory usage: 17.7+ KB

In [18]:
print(df.describe())

         Population   Total Cases  Total Deaths  Tot Cases//1M pop  \
count  2.250000e+02  2.250000e+02  2.250000e+02         225.000000
mean   3.507321e+07  2.184781e+06  2.744813e+04      136900.373333
std    1.392418e+08  7.275938e+06  9.689177e+04      145060.340289
min    8.050000e+02  1.000000e+00  0.000000e+00           9.000000
25%    5.665570e+05  2.407100e+04  1.890000e+02       11384.000000
50%    5.827911e+06  1.639360e+05  1.965000e+03       88987.000000
75%    2.190585e+07  1.092547e+06  1.366000e+04      223335.000000
max    1.439324e+09  8.183905e+07  1.008222e+06      696044.000000

       Tot Deaths/1M pop  Death percentage
count         225.000000        225.000000
mean         1096.715556          1.444125
std          1195.715543          1.741728
min             0.000000          0.000000
25%           123.000000          0.511291
50%           708.000000          1.036905
75%          1795.000000          1.977017
max          6286.000000         18.151787

In [19]:
print(df.isnull().sum())

Country                    0
Other names                1
ISO 3166-1 alpha-3 CODE    0
Population                 0
Continent                  0
Total Cases                0
Total Deaths               0
Tot Cases//1M pop          0
Tot Deaths/1M pop          0
Death percentage           0
dtype: int64

In [20]:
null_rows = df[df.isnull().any(axis=1)]
print(null_rows.head())

        Country Other names ISO 3166-1 alpha-3 CODE  Population Continent  \
135  Montenegro         NaN                     MNE      628205    Europe

     Total Cases  Total Deaths  Tot Cases//1M pop  Tot Deaths/1M pop  \
135       233326          2705             371417               4306

     Death percentage
135          1.159322

In [24]:
print("Missing after fill:", df.isnull().sum().sum())

Missing after fill: 0

In [27]:
plt.figure(figsize=(8,5))
sns.barplot(x='Country', y='TotalCases', data=top5_cases)
plt.title('Top 5 Countries by COVID Cases')
plt.show()

NameError: name 'top5_cases' is not defined