In [1]:
import pandas as pd

# Sample data
data = {
    'Store': ['Store A', 'Store A', 'Store B', 'Store B', 'Store C', 'Store C'],
    'Product': ['Product 1', 'Product 2', 'Product 1', 'Product 2', 'Product 1', 'Product 2'],
    'Sales': [100, 150, 200, 250, 300, 350]
}

# Create DataFrame
df = pd.DataFrame(data)

In [4]:
grouped_df = df.groupby('Store')['Sales'].sum().reset_index()
print(grouped_df)

     Store  Sales
0  Store A    250
1  Store B    450
2  Store C    650

In [5]:
def add_ten(x):
    return x + 10

print(add_ten(5))

15

In [6]:
y = lambda x: x + 10

print(y(5))

15

In [9]:
multiply = lambda x, y: x * y

result = multiply(3, 4)
print(result)

12